# 50MHz main clock domain
NET "clk" TNM_NET = clk_period_grp_50;
TIMESPEC TS_clk_period_50 = PERIOD "clk_period_grp_50" 20.00ns HIGH;

NET "clk"     LOC = "P21"  | IOSTANDARD = LVCMOS33 ;
NET "txd"     LOC = "P22"  | IOSTANDARD = LVCMOS33 ;
NET "rxd"     LOC = "P23"  | IOSTANDARD = LVCMOS33 ;

NET "sw<0>"   LOC = "P134" | IOSTANDARD = LVCMOS33 ;
NET "sw<1>"   LOC = "P137" | IOSTANDARD = LVCMOS33 ;
NET "sw<2>"   LOC = "P138" | IOSTANDARD = LVCMOS33 ;
NET "sw<3>"   LOC = "P139" | IOSTANDARD = LVCMOS33 ;
NET "sw<4>"   LOC = "P140" | IOSTANDARD = LVCMOS33 ;
NET "sw<5>"   LOC = "P141" | IOSTANDARD = LVCMOS33 ;
NET "sw<6>"   LOC = "P142" | IOSTANDARD = LVCMOS33 ;
NET "sw<7>"   LOC = "P143" | IOSTANDARD = LVCMOS33 ;

NET "led<0>"  LOC = "P44"  | IOSTANDARD = LVCMOS33 ;
NET "led<1>"  LOC = "P45"  | IOSTANDARD = LVCMOS33 ;
NET "led<2>"  LOC = "P46"  | IOSTANDARD = LVCMOS33 ;
NET "led<3>"  LOC = "P47"  | IOSTANDARD = LVCMOS33 ;
NET "led<4>"  LOC = "P57"  | IOSTANDARD = LVCMOS33 ;
NET "led<5>"  LOC = "P58"  | IOSTANDARD = LVCMOS33 ;
NET "led<6>"  LOC = "P59"  | IOSTANDARD = LVCMOS33 ;
NET "led<7>"  LOC = "P61"  | IOSTANDARD = LVCMOS33 ;

NET "seg<0>"  LOC = "P115" | IOSTANDARD = LVCMOS33 ;
NET "seg<1>"  LOC = "P121" | IOSTANDARD = LVCMOS33 ;
NET "seg<2>"  LOC = "P119" | IOSTANDARD = LVCMOS33 ;
NET "seg<3>"  LOC = "P118" | IOSTANDARD = LVCMOS33 ;
NET "seg<4>"  LOC = "P117" | IOSTANDARD = LVCMOS33 ;
NET "seg<5>"  LOC = "P114" | IOSTANDARD = LVCMOS33 ;
NET "seg<6>"  LOC = "P116" | IOSTANDARD = LVCMOS33 ;

NET "an<0>"   LOC = "P112" | IOSTANDARD = LVCMOS33 ;
NET "an<1>"   LOC = "P111" | IOSTANDARD = LVCMOS33 ;
NET "an<2>"   LOC = "P127" | IOSTANDARD = LVCMOS33 ;
NET "an<3>"   LOC = "P126" | IOSTANDARD = LVCMOS33 ;

NET "select"  LOC = "P133" | IOSTANDARD = LVCMOS33 ;
