# 32MHz main clock domain
NET "clk" TNM_NET = clk_period_grp_32;
TIMESPEC TS_clk_period_32 = PERIOD "clk_period_grp_32" 31.25ns HIGH;

NET "clk"     LOC = "P89" | IOSTANDARD = LVCMOS33 | PERIOD = 31.25ns;
NET "txd"     LOC = "P90" | IOSTANDARD = LVCMOS33 ;
NET "rxd"     LOC = "P88" | IOSTANDARD = LVCMOS33 ;

NET "sw<0>"   LOC = "P91" | IOSTANDARD = LVCMOS33 ;
NET "sw<1>"   LOC = "P92" | IOSTANDARD = LVCMOS33 ;
NET "sw<2>"   LOC = "P94" | IOSTANDARD = LVCMOS33 ;
NET "sw<3>"   LOC = "P95" | IOSTANDARD = LVCMOS33 ;
NET "sw<4>"   LOC = "P98" | IOSTANDARD = LVCMOS33 ;
NET "sw<5>"   LOC = "P2"  | IOSTANDARD = LVCMOS33 ;
NET "sw<6>"   LOC = "P3"  | IOSTANDARD = LVCMOS33 ;
NET "sw<7>"   LOC = "P4"  | IOSTANDARD = LVCMOS33 ;

NET "led<0>"  LOC = "P5"  | IOSTANDARD = LVCMOS33 ;
NET "led<1>"  LOC = "P9"  | IOSTANDARD = LVCMOS33 ;
NET "led<2>"  LOC = "P10" | IOSTANDARD = LVCMOS33 ;
NET "led<3>"  LOC = "P11" | IOSTANDARD = LVCMOS33 ;
NET "led<4>"  LOC = "P12" | IOSTANDARD = LVCMOS33 ;
NET "led<5>"  LOC = "P15" | IOSTANDARD = LVCMOS33 ;
NET "led<6>"  LOC = "P16" | IOSTANDARD = LVCMOS33 ;
NET "led<7>"  LOC = "P17" | IOSTANDARD = LVCMOS33 ;

NET "seg<6>"  LOC = "P57" | IOSTANDARD = LVCMOS33 ;
NET "seg<5>"  LOC = "P65" | IOSTANDARD = LVCMOS33 ;
NET "seg<4>"  LOC = "P40" | IOSTANDARD = LVCMOS33 ;
NET "seg<3>"  LOC = "P53" | IOSTANDARD = LVCMOS33 ;
NET "seg<2>"  LOC = "P33" | IOSTANDARD = LVCMOS33 ;
NET "seg<1>"  LOC = "P35" | IOSTANDARD = LVCMOS33 ;
NET "seg<0>"  LOC = "P62" | IOSTANDARD = LVCMOS33 ;

NET "an<0>"   LOC = "P67" | IOSTANDARD = LVCMOS33 ;
NET "an<1>"   LOC = "P60" | IOSTANDARD = LVCMOS33 ;
NET "an<2>"   LOC = "P26" | IOSTANDARD = LVCMOS33 ;
NET "an<3>"   LOC = "P18" | IOSTANDARD = LVCMOS33 ;

NET "select"  LOC = "P22" | IOSTANDARD = LVCMOS33 ;
